<section class="serach-bg">
    <section class="search col s10">
        <input id="search" type="text" #searchtext class="col s12" placeholder="Search here..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />
        <label class="tooltipped" for="search" (click)="search(searchtext.value)" data-position="top" data-delay="0" data-tooltip="Click to Search"><i class="material-icons">search</i></label>
    </section>
    <section class="download-btn">
        <a class="waves-effect waves-light btn" [routerLink]="['/page/create']"><i class="zmdi zmdi-plus"></i>Add Page</a>
    </section>
</section>

<pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

<div *ngIf="pageArr && pageArr.length==0">
    No records found.
</div>

<div class="loading">
    Loading...
</div>

<table class="bordered striped highlight responsive-table">
    <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="heading">Heading</th>
            <th data-field="summary">Summary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr class="" 
        *ngFor="let page of pageArr" 
        [attr.data-page-id]="page._id"
        [ngClass]="{'red accent-1': page.deleted}"
        [hidden]="page.deleted">
        <td><a [routerLink]="['/page/view', page._id]">{{page.title}}</a></h2></td>
        <td>{{page.heading}}</td>
        <td>{{page.summary}}</td>
        <td><a class="btn-floating waves-effect waves-light blue tooltipped" href="javascript:void(0);" [routerLink]="['/page/update', page._id]" data-position="top" data-delay="0" data-tooltip="Edit Page"><i class="material-icons">mode_edit</i></a>
            <a *ngIf="!page.deleted" class="btn-floating waves-effect waves-light red tooltipped" href="javascript:void(0);" (click)="deletePage(page)" data-position="top" data-delay="0" data-tooltip="Delete Page"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    </tbody>
</table>

<pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
