.input-field p.error {
    margin-top: -15px;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: #F44336;
}

.input-field div.error {
    margin-top: -15px;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: #F44336;
}

/* CSS for clear search */
.closeSearch{
text-align: right;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-top: 8px !important;
    cursor: pointer;
    padding-left: 0 !important;
    margin-left: 0 !important;
    width: 20px !important;
}
