<div class="row" >
    <h2 class="header red-text text-lighten-1" color="primary">
      <span *ngIf="!packageId">Create new Package list</span>
      <span *ngIf="!!packageId">Update Page</span>
    </h2>

    <div class="row">
      <form class="col s12" [formGroup]="packageForm" #f="ngForm" (ngSubmit)="onSubmit()">

        <div class="input-field col s12">
            <input formControlName="title" id="title" type="text" [ngClass]="{'invalid':packageForm.controls['title'].touched && !packageForm.controls['title'].valid}"></input>
            <label for="title" style="transform: translateY(-140%);">Title</label>
            <div *ngIf="packageForm.controls['title'].errors && packageForm.controls['title'].touched" class="error">
                <div [hidden]="!packageForm.controls['title'].errors.required">Title is required.</div>
                <div [hidden]="!packageForm.controls['title'].errors.minlength">Min 8 characters required.</div>
                <div [hidden]="!packageForm.controls['title'].errors.maxlength">Max 255 characters allowed.</div>
                  <div [hidden]="!packageForm.controls['title'].errors.pattern">only characters required.</div>

            </div>
        </div>
        <div class="input-field col s12">
            <input formControlName="code" id="code" type="text" [ngClass]="{'invalid':packageForm.controls['code'].touched && !packageForm.controls['code'].valid}"></input>
            <label for="code" style="transform: translateY(-140%);">Code</label>
            <div *ngIf="packageForm.controls['code'].errors && packageForm.controls['code'].touched" class="error">
                <div [hidden]="!packageForm.controls['code'].errors.required">code is required.</div>
                <div [hidden]="!packageForm.controls['code'].errors.pattern">alphanumeric characters required.</div>
            </div>
        </div>



        <div class="input-field col s12">
            <textarea formControlName="summary" id="summary" style="height:8rem;" [ngClass]="{'invalid':packageForm.controls['summary'].touched && !packageForm.controls['summary'].valid}"></textarea>
            <label for="summary" style="transform: translateY(-140%);">Summary</label>
            <div *ngIf="packageForm.controls['summary'].errors && packageForm.controls['summary'].touched" class="error">
                <div [hidden]="!packageForm.controls['summary'].errors.required">Summary is required.</div>
                <div [hidden]="!packageForm.controls['summary'].errors.minlength">Min 8 characters required.</div>
                <div [hidden]="!packageForm.controls['summary'].errors.maxlength">Max 255 characters allowed.</div>
                  <div [hidden]="!packageForm.controls['summary'].errors.pattern">only charcters are required.</div>
            </div>
        </div>

        <div class="input-field col s12">
            <input formControlName="maxDevices" id="maxDevices" type="number" [ngClass]="{'invalid':packageForm.controls['maxDevices'].touched && !packageForm.controls['maxDevices'].valid}"></input>
            <label for="maxDevices" style="transform: translateY(-140%);">Maximum Devices</label>
            <div *ngIf="packageForm.controls['maxDevices'].errors && packageForm.controls['maxDevices'].touched" class="error">
                <div [hidden]="!packageForm.controls['maxDevices'].errors.required">field is required.</div>
                  <div [hidden]="!packageForm.controls['maxDevices'].errors.pattern">only numbers are required.</div>
            </div>
        </div>

        <div class="input-field col s12">
            <input formControlName="maxPatients" id="maxPatients" type="number" [ngClass]="{'invalid':packageForm.controls['maxPatients'].touched && !packageForm.controls['maxPatients'].valid}"></input>
            <label for="maxPatients" style="transform: translateY(-140%);">Maximum Patients</label>
            <div *ngIf="packageForm.controls['maxPatients'].errors && packageForm.controls['maxPatients'].touched" class="error">
                <div [hidden]="!packageForm.controls['maxPatients'].errors.minlength">Min 2 characters required.</div>
                <div [hidden]="!packageForm.controls['maxPatients'].errors.maxlength">Max 30 characters allowed.</div>
                <div [hidden]="!packageForm.controls['maxPatients'].errors.pattern">only numbers are required.</div>

            </div>
        </div>


        <div class="input-field col s12">
            <input formControlName="pricePerPatient" id="pricePerPatient" type="number"  [ngClass]="{'invalid':packageForm.controls['pricePerPatient'].touched && !packageForm.controls['pricePerPatient'].valid}"></input>
            <label for="pricePerPatient" style="transform: translateY(-140%);">Price per Patient</label>
            <div *ngIf="packageForm.controls['pricePerPatient'].errors && packageForm.controls['pricePerPatient'].touched" class="error">
                <div [hidden]="!!packageForm.controls['pricePerPatient'].errors.required">field  is required.</div>
                <div [hidden]="!!packageForm.controls['pricePerPatient'].errors.minlength">Min 2 characters required.</div>
                <div [hidden]="!!packageForm.controls['pricePerPatient'].errors.maxlength">Max 30 characters allowed.</div>
                  <div [hidden]="!packageForm.controls['pricePerPatient'].errors.pattern">only numbers are required.</div>
            </div>
        </div>


        <div class="input-field col s12">
            <input formControlName="pricePerDevice" id="pricePerDevice" type="number" [ngClass]="{'invalid':packageForm.controls['pricePerDevice'].touched && !packageForm.controls['pricePerDevice'].valid}"></input>
            <label for="pricePerDevice" style="transform: translateY(-140%);">Price per Device</label>
            <div *ngIf="packageForm.controls['pricePerDevice'].errors && packageForm.controls['pricePerDevice'].touched" class="error">
                <div [hidden]="!packageForm.controls['pricePerDevice'].errors.required">field  is required.</div>
                  <div [hidden]="!packageForm.controls['pricePerDevice'].errors.minlength">Min 2 characters required.</div>
                    <div [hidden]="!packageForm.controls['pricePerDevice'].errors.maxlength">Max 30 characters allowed.</div>
                  <div [hidden]="!packageForm.controls['pricePerDevice'].errors.pattern">only numbers are required.</div>
            </div>
        </div>


        <div class="input-field col s12">
            <input formControlName="durationInMonth" id="durationInMonth" type="number" [ngClass]="{'invalid':packageForm.controls['pricePerDevice'].touched && !packageForm.controls['durationInMonth'].valid}"></input>
            <label for="durationInMonth" style="transform: translateY(-140%);">Durations(month)</label>
            <div *ngIf="packageForm.controls['durationInMonth'].errors && packageForm.controls['durationInMonth'].touched" class="error">
                <div [hidden]="!packageForm.controls['durationInMonth'].errors.required">field  is required.</div>
                <div [hidden]="!packageForm.controls['durationInMonth'].errors.minlength">Min 2 characters required.</div>
                <div [hidden]="!packageForm.controls['durationInMonth'].errors.maxlength">Max 30 characters allowed.</div>
                <div [hidden]="!packageForm.controls['durationInMonth'].errors.pattern">only numbers are required.</div>
            </div>
        </div>

        <div class="input-field col s12">
            <input formControlName="durationInDays" id="durationInDays" type="number" [ngClass]="{'invalid':packageForm.controls['durationInDays'].touched && !packageForm.controls['durationInDays'].valid}"></input>
            <label for="durationInDays" style="transform: translateY(-140%);">Durations(days)</label>
            <div *ngIf="packageForm.controls['durationInDays'].errors && packageForm.controls['durationInDays'].touched" class="error">
                <div [hidden]="!packageForm.controls['durationInDays'].errors.required">field  is required.</div>
                <div [hidden]="!packageForm.controls['durationInDays'].errors.minlength">Min 2 characters required.</div>
                <div [hidden]="!packageForm.controls['durationInDays'].errors.maxlength">Max 30 characters allowed.</div>
                <div [hidden]="!packageForm.controls['durationInDays'].errors.pattern">only numbers are required.</div>
            </div>
        </div>


        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!packageForm.valid">Submit
              <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light grey lighten-2" type="submit" name="action" [routerLink]="['/page/list']">Cancel</button>
          </div>
        </div>

      </form>

      <div [hidden]="error == ''">
        <p class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </p>
      </div>

    </div>
</div>
