<section *ngIf="user">
    <h2>User Details</h2>
    <button class="btn pull-left grey lighten-1" type="button" [routerLink]="['/practitioner/list']">&lt;&lt; Back</button>
    <button class="btn pull-right" type="button" [routerLink]="['/practitioner/passwd', user._id]">Change Password</button>

    <section class="col s12 pt-detail bt-shadow">

        <section class="pateint-pic detail-pic-user col s3">
            <img src="images/no-image-male.jpg" alt="" style="width:100px;" />
        </section>
        
        <section class="col s9 content-ptdetail" style="padding-top: 0 !important;">
            <h2 style="">{{user.profile.firstName}} {{user.profile.lastName}}</h2>
            <div>
                <section class="user-gendetail row col s12">
                <ul>
                    <li>
                        <label style="color:black"><i class="material-icons">perm_identity</i>User Name</label>
                        <span>{{user.profile.firstName}} {{user.profile.lastName}}</span>
                    </li>
                    <li>
                        <label style="color:black"><i class="material-icons">email</i>Email Address</label>
                        <span>{{user.emails[0].address}}</span>
                    </li>
                    <li>
                        <label style="color:black"><i class="zmdi zmdi-phone"></i>Contact Number</label>
                        <span>{{user.profile.contact}}</span>
                    </li>
                    <li>
                        <label style="color:black"><i class="material-icons">supervisor_account</i> Roles </label>
                        <span>{{user.roles}}</span>
                    </li>

                </ul>
                </section>
            </div>
        </section>

    </section>

    <div class="clearfix"></div>
    <h2 style="margin-top: 20px;">Patients List</h2>
    <section class="serach-bg">
        <section class="search col s10">
            <input id="search" type="text" #searchtext class="col s12" placeholder="Search here..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />
            <label class="tooltipped" for="search" (click)="search(searchtext.value)" data-position="top" data-delay="0" data-tooltip="Click to Search"><i class="material-icons">search</i></label>
        </section>
        <section class="download-btn">
            
        </section>
    </section>
    <section *ngFor="let patient of patientArr" class="col s12 wht-bg mar-tp5 mar-bt5 bt-shadow">
        <section class="pateint-list">
            <section class="col s8 mar-tp10">
                <h5 class="pateint-name">{{patient.firstName}} {{patient.lastName}}</h5>
                <ul class="pateint-deatil">
                    <li><i class="zmdi zmdi-email tooltipped" data-position="top" data-delay="0" data-tooltip="Email"></i> {{patient.email}}</li>
                    <li><i class="zmdi zmdi-phone tooltipped" data-position="top" data-delay="0" data-tooltip="Contact"></i> {{patient.phonenumber}}</li>
                    <li><i class="zmdi tooltipped" [ngClass]="{'zmdi-male': patient.gender==1, 'zmdi-female': patient.gender==0}" data-position="top" data-delay="0" data-tooltip="Age"></i> {{patient.dob | age}}</li>
                </ul>
                <address class="col s12">
                    <i class="zmdi zmdi-pin tooltipped" data-position="top" data-delay="0" data-tooltip="Address"></i> {{patient.address}}
                </address>
            </section>
            <section class="col s4 detail-btn">
            </section>
        </section>
    </section>
    <pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

</section>
